<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rasa ChatBot UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
  <body>
    <h1>Rasa ChatBot UI</h1>
    <!-- <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005/"></div> -->
    <!-- <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script> -->

  </body>
  <script>!(function () {
    let e = document.createElement("script"),
      t = document.head || document.getElementsByTagName("head")[0];
    (e.src =
      "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
      // Replace 1.x.x with the version that you want
      (e.async = !0),
      (e.onload = () => {
        window.WebChat.default(
          {
            title: 'Chat Bot Ecommerce Plugin',
            initPayload: '/greet',
            customData: { language: "en" },
            socketUrl: "http://localhost:5005/",
            // add other props here
          },
          null
        );
      }),
      t.insertBefore(e, t.firstChild);
  })();
  </script>
</html>
